html {
      
  font-size: 16px;
  font-family: 'Lexend', sans-serif;

}

body {
  background-color: white;
  background-image: linear-gradient(to bottom, rgba(255, 128, 37, 0.50), rgba(255, 213, 49, 0.500));
  text-align: center;
  
}

.top-bar {
  position: relative;
  font-family: 'Lexend', sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  padding-bottom: 5px;
  filter:drop-shadow(0px 0px 20px rgba(0,0,0, 1));
}

.top-bar-shadow{
  margin: 20px;
  background: rgba(0,0,0,1);
}
.logo {
  position: relative;
  height: 50px;
  align-content: flex-start;

  
}

.coming-soon-buttons {
  position: relative;
  display: flex;
  gap: 1rem;
}

.soon {
  font-family: inherit;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: solid;
  background: radial-gradient(circle, rgba(255, 213, 49, 1.00), rgba(255, 128, 37, 1.00));
  color: #000;
  cursor: pointer;
  transition: all 150ms;
}

.soon:hover {
  transform: translateY(-2px);
}

.soon:active {
  transform: translateY(2px);
}

.main-logo {
  max-width: 80%;
  margin-top: 2rem;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.album-date {
  font-family: 'Lexend Peta', sans-serif;
  margin-top: -25px;
  margin-bottom: 32px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.splash-text {
  text-align: center;
  margin-inline: 20%;
  margin-top: -18px;
}

.credit {
  font-size: 0.8rem;
  margin-top: 300px;
  margin-inline: 20%;
  
  
}
.dot{
  font-size: 12pt;
}